# Basics of Python Programming

### What is Python?

Python is a high-level object-oriented programming language that was created by Guido van Rossum. It is also called general-purpose programming language as it is used in almost every domain we can think of as mentioned below:

- Web Development
- Software Development
- Game Development
- AI & ML
- Data Analytics

### What can Python do?
- Python can be used to handle big data and perform complex mathematics.
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.

### Why Python?
- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.

## Python Basics

## Section 1.1: String

In [ ]:
print("Hello World")
print('I am Muhammad Ammar Mohsin')
print('''I am learning python with codenics''')
print("What's up")

Hello World
I am Muhammad Ammar Mohsin
I am learning python with codenics
What's up

## Section 1.2: Operators
> Use PEMDAS as equation solving sequence

### 1.2.1: Arithmetic Operators

In [ ]:
print(21+25) # for addition
print(25-11) # for subtarction
print(20*5) # for multiplication
print(15/2) # for division
print(15%2)  # Modulus operator (modulo operation returns the remainder or signed remainder of a division,) 
print(15//2)  # Integer division (divides two numbers and returns the integer part of the result.)
print(15**2)  # Power Operator

46
14
100
7.5
1
7
225

In [ ]:
x = 10 
x = x+10
x

20

### 1.2.2: Assignment Operators

In [ ]:
x = 5
x +=10
print(x)

15

In [ ]:
x -=10
x

5

## Section 1.3: Comments
- Use "#" to add comment in python for better interpetation of your work

In [ ]:
# print("How are you") 
print("I'm fine") #It's a string 
print(10+5) #print operators function with number

I'm fine
15

## Section 1.4: Variables

In [ ]:
x = 10
y = "We are learning variables on python with Dr. Ammar Tufail"
print(x)
print(y)

10
We are learning variables on python with Dr. Ammar Tufail

In [ ]:
x = x+5
print(x)

15

### 1.4.1: Type/Class of Variable

In [ ]:
x = 10
type(x)

int

In [ ]:
y = "We are learning variables on python with Dr. Ammar Tufail"
type(y)

str

In [ ]:
fruit_basket = "Mangoes, Orange, Apple"
print(fruit_basket)
print(type(fruit_basket))

Mangoes, Orange, Apple
<class 'str'>

## Section 1.5: Input Variables

In [ ]:
name = input("What is your name? ")
greetings = "Hello!"
print(greetings, name)

What is your name? Muhammad Ammar
Hello! Muhammad Ammar

In [ ]:
name = input("What is your name? ")
print("Hello!", name)

What is your name? Muhammad Ammar Mohsin
Hello! Muhammad Ammar Mohsin

In [ ]:
name = input("What is your name? ")
age = input("How old are you? ")
greetings = "Hello!"
print(greetings, name, ", You are still young.")

What is your name? Muhammad Ammar
How old are you? 27
Hello! Muhammad Ammar , You are still young.

## Section 1.6: Logical Operators
*Logical operators are either "true or false" or "yes or no" or "0 or 1"*
- equal to                        ==
- not euqal to                    !=
- less than                       <
- greater than                    >
- less than and equal to          <=
- greater than and equal to       >=

In [ ]:
print(4==4)
print(4!=4)
print(5>4)
print(5<4)
print(3<=5)
print(5>=4)

True
False
True
False
True
True

### 1.6.1: Input function and logical operator

In [ ]:
age_at_school = 5
ahmad_age = input("How old is ahmad? ")
ahmad_age = int(ahmad_age)
print(ahmad_age == age_at_school)

How old is ahmad? 4
False

In [ ]:
age_at_school = 5
ahmad_age = input("How old is ahmad? ")
ahmad_age = int(ahmad_age)
print(ahmad_age == age_at_school)

How old is ahmad? 5
True

## Section 1.7: Type Conversion

In [ ]:
x = 2
y = 10.12
x = x+y
print(x, "Type of x is: ", type(x))

12.12 Type of x is:  <class 'float'>

In [ ]:
age = input("What is your age? ")
print(age, type(float(age)))

What is your age? 27
27 <class 'float'>

In [ ]:
x = input("What is your height? ") #User input will be taken as string by python
x
type(x)

What is your height? 205

str

In [ ]:
x = input("What is your height? ") #User input will be taken as string by python
x = float(x)    # Converting the input taken from the user to a float number.
x
type(x)

What is your height? 205

float

## Section 1.8: IF, ELSE & ELIF

In [ ]:
temperature_outside = input("What is temperature outside today? ")
temperature_outside = int(temperature_outside)
if temperature_outside >= 30:
    print("It's hot outside")
    print("Drink plenty of water")
elif temperature_outside >= 20:
    print("It's a pleasant day")
    print("Enjoy your day")
elif temperature_outside >=10:
    print("It's a bit cold outside")
    print("Have a cup of coffee and enjoy your day")
else:
    print("It's freezing outside")
    print("Please wear warm colthes")

What is temperature outside today? 32
It's hot outside
Drink plenty of water

In [ ]:
temperature_outside = input("What is temperature outside today? ")
temperature_outside = int(temperature_outside)
if temperature_outside >= 30:
    print("It's hot outside")
    print("Drink plenty of water")
elif temperature_outside >= 20:
    print("It's a pleasant day")
    print("Enjoy your day")
elif temperature_outside >=10:
    print("It's a bit cold outside")
    print("Have a cup of coffee and enjoy your day")
else:
    print("It's freezing outside")
    print("Please wear warm colthes")

What is temperature outside today? 25
It's a pleasant day
Enjoy your day

In [ ]:
temperature_outside = input("What is temperature outside today? ")
temperature_outside = int(temperature_outside)
if temperature_outside >= 30:
    print("It's hot outside")
    print("Drink plenty of water")
elif temperature_outside >= 20:
    print("It's a pleasant day")
    print("Enjoy your day")
elif temperature_outside >=10:
    print("It's a bit cold outside")
    print("Have a cup of coffee and enjoy your day")
else:
    print("It's freezing outside")
    print("Please wear warm colthes")

What is temperature outside today? 18
It's a bit cold outside
Have a cup of coffee and enjoy your day

In [ ]:
temperature_outside = input("What is temperature outside today? ")
temperature_outside = int(temperature_outside)
if temperature_outside >= 30:
    print("It's hot outside")
    print("Drink plenty of water")
elif temperature_outside >= 20:
    print("It's a pleasant day")
    print("Enjoy your day")
elif temperature_outside >=10:
    print("It's a bit cold outside")
    print("Have a cup of coffee and enjoy your day")
else:
    print("It's freezing outside")
    print("Please wear warm colthes")

What is temperature outside today? 4
It's freezing outside
Please wear warm colthes

## Section 1.9: Functions
- Defining a function

In [ ]:
# 1
def print_func():
    print("We are learning Python with Dr. Aammar Tufail")
    print("We are learning Python with Dr. Aammar Tufail")
    print("We are learning Python with Dr. Aammar Tufail")
print_func()

We are learning Python with Dr. Aammar Tufail
We are learning Python with Dr. Aammar Tufail
We are learning Python with Dr. Aammar Tufail

In [ ]:
# 2
def print_func():
    text = "We are learning Python with Dr. Aammar Tufail"
    print(text)
    print(text)
    print(text)
print_func()

We are learning Python with Dr. Aammar Tufail
We are learning Python with Dr. Aammar Tufail
We are learning Python with Dr. Aammar Tufail

In [ ]:
def print_func(text):
    print(text)
    print(text)
    print(text)
print_func("We are learning Python with Dr. Aammar Tufail")

We are learning Python with Dr. Aammar Tufail
We are learning Python with Dr. Aammar Tufail
We are learning Python with Dr. Aammar Tufail

### 1.9.1: Defining a function with if, elif & else statement

In [ ]:
def school_age_calculator(age, text):
    if age==5:
        print(text, "can join the school")
    elif age>5:
        print(text, "should join the school immediately")
    else:
        print(text, "is still a baby")

school_age_calculator(6, "Ahmad")

Ahmad should join the school immediately

In [ ]:
def school_age_calculator(age, text):
    if age==5:
        print(text, "can join the school")
    elif age>5:
        print(text, "should join the school immediately")
    else:
        print(text, "is still a baby")

school_age_calculator(4, "Ahmad")

Ahmad is still a baby

In [ ]:
def school_age_calculator(age, text):
    if age==5:
        print(text, "can join the school")
    elif age>5:
        print(text, "should join the school immediately")
    else:
        print(text, "is still a baby")

school_age_calculator(5, "Ahmad")

Ahmad can join the school

### 1.9.2: Defining a function of future

In [ ]:
def future_age(age):
    new_age = age+20
    return new_age

future_predicted_age = future_age(10)
print(future_predicted_age)

30

In [ ]:
Weight = input("What is your weight?")
Height = input("What is your height?")
Weight = float(Weight)
Height = float(Height)
Height = Height*0.3048
BMI = Weight/(Height)**2
BMI
"My Name is Ammar and my BMI is ", BMI

('My Name is Ammar and my BMI is ', 25.41478848389795)

## Section 1.10: Loops
> Two types of Loops in Python:\
> **For Loop:**
   *Can execute set of statements one time*\
> __While Loop:__
    *Can execute set of statements till the completion of condition*

### 1.10.1: For Loops:
- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
- The for loop does not require an indexing variable to set beforehand.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

> #### The break Statement
> - With the break statement we can stop the loop before it has looped all the items
> - Exit the loop when x is "banana"

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [ ]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for d in days:
    if (d == "Fri"): break
    print(d)

Mon
Tue
Wed
Thu

> #### The continue Statement
> With the continue statement we can stop the current iteration of the loop, and continue with the next

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
a = ["pineapple", "cherry", "watermelon"]
for y in a:
    if y == "cherry":
        continue
    print(y)

pineapple
watermelon

In [ ]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
for d in days:
    if (d == "Fri"): continue
    print(d)

Mon
Tue
Wed
Thu
Sat
Sun

> #### The range Function
> - To loop through a set of code a specified number of times, we can use the range() function
> - The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(8):
    print(x)

0
1
2
3
4
5
6
7

In [ ]:
for x in range(2,8):
    print(x)

2
3
4
5
6
7

> Specify range in for loop with specified increment

In [ ]:
for x in range(1,15,3):
    print(x)

1
4
7
10
13

> #### Else in For Loop
> The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [ ]:
for x in range(5):
    print(x)
else:
    print("Finally fininshed!")

0
1
2
3
4
Finally fininshed!

In [ ]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finished for today")

0
1
2

In [ ]:
for x in range(6):
    if x == 7:
        break
    print(x)
else:
    print("Finished for today")

0
1
2
3
4
5
Finished for today

> #### Nested Loops
> - A nested loop is a loop inside a loop.
> - The "inner loop" will be executed one time for each iteration of the "outer loop"

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### 1.10.2: While Loops
- while loop we can execute a set of statements as long as a condition is true
- The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.
- Note: remember to increment i, or else the loop will continue forever.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

> #### The break Statement
> With the break statement we can stop the loop even if the while condition is true

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [ ]:
i = 1
while i < 6:
    if i == 3:
        break
    print(i)
    i += 1

1
2

> #### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

> #### The else Statement
With the else statement we can run a block of code once when the condition no longer is true

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## Section 1.11: Import Libraries

In [ ]:
import math
print("The value of pi is" , math.pi)

The value of pi is 3.141592653589793

In [ ]:
import statistics
x = [200, 400, 600, 800, 1000, 1200]
print(statistics.mean(x))
print(statistics.median(x))

700
700.0

## Section 1.12: Indexing

In [ ]:
a = "Hello World"

In [ ]:
a[0]

'H'

In [ ]:
a[2]

'l'

In [ ]:
# Length of indices
len(a)

11

In [ ]:
a[0:5]

'Hello'

In [ ]:
# Last index is exclusive
a[0:7]

'Hello W'

In [ ]:
a[-2]

'l'

#### 1.12.1: String Method

In [ ]:
food = "briyani"
food

'briyani'

In [ ]:
len(food)

7

In [ ]:
# uppercase letters
food.upper()

'BRIYANI'

In [ ]:
# capatilize the first element
food.capitalize()

'Briyani'

In [ ]:
# lowercase letters
food.lower()

'briyani'

In [ ]:
#replace
food.replace("b" , "Sh")

'Shriyani'

In [ ]:
# counting a specific alphabet in a string
name = "We are learning python with baba ammar"
name

'We are learning python with baba ammar'

In [ ]:
name.count("a")

6

In [ ]:
name.count("e")

3

> find an index number in string

In [ ]:
name = "We are learning python with baba ammar"
name

'We are learning python with baba ammar'

In [ ]:
name.find("a")

3

In [ ]:
name.find("baba")

28

In [ ]:
# how to split a string
food = "I love samosa, pakora, briyani, and karahi"
food

'I love samosa, pakora, briyani, and karahi'

In [ ]:
food.split(",")

['I love samosa', ' pakora', ' briyani', ' and karahi']

## Section 1.13: Basic Data Structure in Python
1. Tuple
2. List
3. Dictionaries
4. Set

### 1.13.1: Tuple
- ordered collection of elements
- enclosed in () round braces/parantheis
- Different kind of elements can be stored
- Once elements are stored, you can change them (unmutatable)

In [ ]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [ ]:
# type of a tuple
type(tup1)

tuple

> Indexing in Tuple

In [ ]:
tup1[1]

'python'

In [ ]:
#last element is exclusive
tup1[0:2]

(1, 'python')

In [ ]:
#count of elements in tup1
len(tup1)

4

In [ ]:
tup2 = (2, "Ammar", 2.6, False)
tup2

(2, 'Ammar', 2.6, False)

In [ ]:
#contactinate (to add two or more than two tuples)
tup1 + tup2

(1, 'python', True, 2.5, 2, 'Ammar', 2.6, False)

In [ ]:
tup1*2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'Ammar', 2.6, False)

In [ ]:
tup3= (1,6,3,6,8,9,5,8)
tup3

(1, 6, 3, 6, 8, 9, 5, 8)

In [ ]:
#minimun value in tuple
min(tup3)

1

In [ ]:
#maximum value in tuple
max(tup3)

9

In [ ]:
tup3*2

(1, 6, 3, 6, 8, 9, 5, 8, 1, 6, 3, 6, 8, 9, 5, 8)

### 1.13.2: List
- ordered collection of elements
- enclosed [] in square bracket
- Muteable

In [ ]:
list1 = [1, "python", True, 2.5]
list1

[1, 'python', True, 2.5]

In [ ]:
type(list1)

list

In [ ]:
len(list1)

4

In [ ]:
list1[1]

'python'

In [ ]:
list2 = [10, 13, "Ammar", 466, 34.5, False]
list2

[10, 13, 'Ammar', 466, 34.5, False]

In [ ]:
list1 + list2

[1, 'python', True, 2.5, 10, 13, 'Ammar', 466, 34.5, False]

In [ ]:
list1*2

[1, 'python', True, 2.5, 1, 'python', True, 2.5]

In [ ]:
list1

[1, 'python', True, 2.5]

In [ ]:
list1.reverse()
list1

[2.5, True, 'python', 1]

In [ ]:
list1.append("Hi World")
list1

[2.5, True, 'python', 1, 'Hi World']

In [ ]:
list3 = [10, 13, "Ammar", 466, 34.5, False, 466, 10, 13, "aa", "bb", "aa"]
list3

[10, 13, 'Ammar', 466, 34.5, False, 466, 10, 13, 'aa', 'bb', 'aa']

In [ ]:
list3.count(466)

2

In [ ]:
list4 = [2,6,10]
list4

[2, 6, 10]

In [ ]:
list5 = [0,4,8]
list5

[0, 4, 8]

In [ ]:
list4.extend(list5)
list4

[2, 6, 10, 0, 4, 8]

In [ ]:
list6 = ["a","e","i","u"]
list6

['a', 'e', 'i', 'u']

In [ ]:
list6.insert(3, "o")
list6

['a', 'e', 'i', 'o', 'u']

### 1.13.3: Dictionaries
- unordered collection of elements
- Key and value
- curly braces or brackets {}
- Mutatable

In [ ]:
d1 = {"Samosa":30, "Pakora":20, "Raita":100, "Salad":40}
d1

{'Samosa': 30, 'Pakora': 20, 'Raita': 100, 'Salad': 40}

In [ ]:
type(d1)

dict

In [ ]:
#extract data
keys1 = d1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad'])

In [ ]:
values1 = d1.values()
values1

dict_values([30, 20, 100, 40])

In [ ]:
#adding new value
d1["Tikki"] = 10
d1

{'Samosa': 30, 'Pakora': 20, 'Raita': 100, 'Salad': 40, 'Tikki': 10}

In [ ]:
#update the values
d1["Tikki"] = 15
d1

{'Samosa': 30, 'Pakora': 20, 'Raita': 100, 'Salad': 40, 'Tikki': 15}

In [ ]:
d2 = {"Date":50, "Choclates": 200, "Bread": 120}
d2

{'Date': 50, 'Choclates': 200, 'Bread': 120}

In [ ]:
#concatinate
d1.update(d2)
d1

{'Samosa': 30,
 'Pakora': 20,
 'Raita': 100,
 'Salad': 40,
 'Tikki': 15,
 'Date': 50,
 'Choclates': 200,
 'Bread': 120}

### 1.13.4: Set
- Unordered and unindexed
- curly braces are used {}
- No Duplicate
- No boolean operator

In [ ]:
s1= {1, 2.2, 3.5, 1, "Amamr", "Python", "Multan", True}
s1

{1, 2.2, 3.5, 'Amamr', 'Multan', 'Python'}

In [ ]:
type(s1)

set

In [ ]:
s1.add("Ammar")
s1

{1, 2.2, 3.5, 'Amamr', 'Ammar', 'Multan', 'Python'}

In [ ]:
s1.add("Ammar")
s1

{1, 2.2, 3.5, 'Amamr', 'Ammar', 'Multan', 'Python'}

In [ ]:
s1.clear()
s1

set()

-------------------
-------------------